{{ define "main" }}

<h1>README</h1>

<p>
  I studied English literature, worked in radio, made websites for a while, did a bit of traveling, moved to New Zealand, managed an organic supermarket for six years, and now I work full time in IT. <a href="about/">(more)</a>
</p>
<br/>

<h1>Connect with me</h1>

<ul>
   <li><a href="https://www.linkedin.com/in/ian-montgomery/" target="_blank">LinkedIn</a></li> 
   <li><a href="https://github.com/ian-montgomery">GitHub</a></li>
   <li><a href="https://twitter.com/IanMontgomeryNZ" target="_blank">Twitter</a></li> 
   <li><a href="mailto:hello@iamian.dev" target="_blank">Send me an email</a></li>     
</ul>
<br />

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<!-- <h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div> -->

{{ end }}